@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #FBF2ED,#E8D4C6);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7b7e8184;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #B7BCBF;
    text-align: center;
    text-shadow: 1px 1px 2px #5a5c5e7d;
}

h2 {
    color: #FFE2C3;
}

p {
    text-align: justify;
}